*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  font: inherit;
}

body{
  font-family: 'Manrope', sans-serif;
}

.global-wrapper{
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}